body {
  padding-top:    10px;
  padding-right:  10px;
  padding-bottom: 10px;
  padding-left:   10px;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: purple;
  background-color: #ADD8E6 }

h1 {font-family: Helvetica, Geneva, Arial, SunSans-Regular, sans-serif}

li:not(:last-child) {padding-bottom: 10px}

.sepia {filter: sepia(100%);}

img {border-radius: 10%;}
