body {
  padding-top:    10px;
  padding-right:  10px;
  padding-bottom: 10px;
  padding-left:   10px;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: black;
  background-color: #F0F8FF }

h1 {font-family: Helvetica, Geneva, Arial, SunSans-Regular, sans-serif}

li:not(:last-child) {padding-bottom: 10px}
